`<h1>Confirm your Email</h1>
<h2>Hello <%= name %>}</h2>
<p>Use the confirmation code: <%= code %> to confrim your Email by clicking on the link below</p>
<a href=https://hr-x.vercel.app/auth/email-verification/${user._id}> Click here</a>
</div>`